ModelData.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="library" type="library"/>
	<xs:complexType name="library">
		<xs:sequence>
			<xs:element name="vinyl" type="vinyl" maxOccurs="unbounded" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="vinyl">
		<xs:sequence>
			<xs:element name="title" type="xs:string"/>
			<xs:element name="artist" type="xs:string"/>
			<xs:element name="year" type="xs:integer"/>
			<xs:element name="vinyl_color" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>		 
</xs:schema>